@media(min-width:320px){
    
    .NosotrosSection{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem;
        padding: 2rem;
    }
    .NosotrosSection h2{
        font-size: 2rem;
    }
    .NosotrosSection p{
        max-width: 500px;
        text-align: center;
        font-size: 1rem;
        margin: 1rem;
    }
    .NosotrosSection .NosotrosImg{
        width: 15rem;
    }
}